<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories | Grocerio</title>
    <link rel="stylesheet" href="main.css">
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script src="addCategoryPopup.js" defer></script>
    <script src="deletePopup.js" defer></script>
    <script src="editCategoryPopup.js" defer></script>
</head>
<body>
    <div class="wrapper">
        <%- include('../partials/navbar') %>
        <main>
            <div class="table">
                <div class="table-header">
                    <h1>Your categories</h1>
                    <p>Hover for details</p>
                </div>
                <div class="table-content">
                    <% categories.forEach(function(category) { %>
                        <div class="category">
                            <div class="top">
                                <span class="name"> <%= category.name %> </span>
                            </div>
                            <div class="down">
                                <span class="description"> <%= category.description %> </span>
                                <button class="edit" onclick="editCategoryPopup(<%= JSON.stringify(category) %>)"><span class="material-icons">edit</span></button>
                                <button class="delete" onclick="deletePopup('categories', '<%= category.name %>')"><span class="material-icons">delete</span></button>
                            </div>
                        </div>
                    <% }); %>
                </div>
                <div class="table-footer">
                    <button class="add" id="add-category" onclick="addCategoryPopup()"><span class="material-icons">add</span></button>
                  </div>
            </div>
        </main>
        <%- include('../partials/footer', { error: false }) %>
    </div>
</body>
</html>
